div {
  margin-top: 2vw;
}

label {
  display: inline-block;
  text-align: right;
  width: 830px;
}
input, textarea {
  width: 300px;
  box-sizing: border-box;
  border: 2px solid rgb(255, 4, 234);
}

button {
  margin-left: 48vw;
  background-color: pink;
}
/*não consegui deixar o footer em baixo*/